:root {
    --adistec-blue: #014A99;
    --adistec-light: #f5f7fa;
    --adistec-gray: #C2C5CA;
    --adistec-accent: #1f6feb;
    --card-bg: #ffffff;
    --radius: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, sans-serif;
}

body {
    background: var(--adistec-light);
    color: var(--adistec-blue);
    line-height: 1.6;
}

/* HEADER */
header {
    height: 72px;
    background: #014A99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.04);
    position: sticky;
    top: 0;
    z-index: 10;
}

header .logo {
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 12px;
    align-items: flex-end;
}

.logo img {
  max-height: 100%;
  object-fit: contain;
}

.flag {
    max-width: 28px;     /* bandeira menor */
    height: auto;
}

nav a {
    margin-left: 32px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a.active {
    color: var(--adistec-gray);
    padding-bottom: 4px;
}

/* HERO */
.hero {
    padding: 96px 48px 64px;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 16px;
}

.hero p {
    font-size: 18px;
    color: var(--adistec-blue);
    max-width: 720px;
}

/* SEÇÕES */
section {
    max-width: 1400px;
    margin: auto;
    padding: 48px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

section .subtitle {
    color: var(--adistec-blue);
    margin-bottom: 32px;
}

/* GRID DE CARDS */

.card-link {
  text-decoration: none;   /* remove o sublinhado */
  color: inherit;          /* mantém as cores do card */
}

.card-link:hover .card {
  transform: translateY(-4px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
}

.card {
    background: var(--card-bg);
    border-radius: var(--radius);
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.logo-placeholder {
    height: 48px;
    width: 120px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 48px;
    display: flex;
    align-items: center;
}

.logo-placeholder img {
  max-height: 100%;
  max-width: 140px;
  object-fit: contain;
}

.tag {
    display: inline-block;
    background: rgba(1, 67, 165, 0.1);
    color: var(--adistec-accent);
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    color: var(--adistec-blue);
}

/* FOOTER */
footer {
    padding: 32px 48px;
    background: var(--adistec-blue);
    color: white;
    text-align: center;
    font-size: 14px;
}

.section-security {
  position: relative;
  max-width: none;
  margin: 0;
  padding: 80px 60px;
  background-image: url("/assets/images/backgrounds/section.security.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-security::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 60, 93, 0.50);
  z-index: 0;
}

.section-security > * {
  position: relative;
  z-index: 1;
}

.section-security h2 {
  color: white;
}

.section-security .subtitle {
  color: #dbeafe;
}

/* ================================== */

.section-alliances {
  position: relative;
  max-width: none;
  margin: 0;
  padding: 80px 60px;

  background-image: url("/assets/images/backgrounds/section.alliances.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-alliances::before {
  content: "";
  position: absolute;
  background: rgba(11, 60, 93, 0.50);
  inset: 0;
  z-index: 0;
}

.section-alliances > * {
  position: relative;
  z-index: 1;
}

.section-alliances h2 {
  color: white;
}

.section-alliances .subtitle {
  color: #dbeafe;
}

/* ================================== */

.section-datacenter {
  position: relative;
  max-width: none;
  margin: 0;
  padding: 80px 60px;

  background-image: url("/assets/images/backgrounds/section.datacenter.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-datacenter::before {
  content: "";
  position: absolute;
  background: rgba(11, 60, 93, 0.50);
  inset: 0;
  z-index: 0;
}

.section-datacenter > * {
  position: relative;
  z-index: 1;
}

.section-datacenter h2 {
  color: white;
}

.section-datacenter .subtitle {
  color: #dbeafe;
}

/* ================= card de saiba mais  ===================================*/
.card-cta {
  max-width: 260px;               /* mais estreito */
  background: white;
  border: 1px dashed var(--accent);
  text-align: left;
  position: relative;
  text-decoration: none;   /* remove o sublinhado */
  color: inherit;          /* mantém as cores do card */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* seta */
.card-cta .cta-arrow {
  position: absolute;
  bottom: 16px;
  right: 20px;
  font-size: 1.6rem;
  color: var(--accent);
  transition: transform 0.3s ease;
}

/* efeito extra no hover */
.card-cta:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 40px rgba(31,111,235,0.18);
  background: #A9ADB3;
}

/* animação da seta */
.card-cta:hover .cta-arrow {
  transform: translateX(6px);
}

.card-cta h3 {
  color: var(--adistec-blue);
}

.card-cta p {
  font-size: 0.9rem;
}

.imagem-fundo {
    position: relative;
    padding-top: 64px;
    background-image: url("./logos/securitywll.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-full::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 60, 93, 0.397);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 16px;
    gap: 12px;
  }

  header a {
    display: flex;
    justify-content: center;
  }

  .logo {
    justify-content: center;
  }

  nav.bus {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .nav-item {
    font-size: 0.95rem;
  }

    .hero {
    padding: 48px 16px;
    text-align: center;
  }

  .hero h1 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .hero p {
    font-size: 1rem;
  }
    section {
    padding: 32px 24px;
    }

  section {
    padding: 48px 16px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .card {
    width: 100%;
    max-width: 360px;
  }

  .card h3 {
    font-size: 1.1rem;
    text-align: center;
  }

  .card p {
    font-size: 0.95rem;
    text-align: center;
  }

  .logo-placeholder img {
    max-width: 140px;
    height: auto;
  }
}