:root {
  --adistec-blue: #014A99;
  --adistec-light: #f5f7fa;
  --adistec-gray: #C2C5CA;
  --adistec-accent: #1f6feb;
  --card-bg: #ffffff;
  --radius: 14px;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--adistec-blue);
}

.sidebar {
  width: 168px;
  background: var(--adistec-gray);
  color: var(--adistec-blue);
  display: flex;
  flex-direction: column;
  padding: 2px;
  position: sticky;
}

.logo img{
  display: flex
  margin-bottom: 10px;
  height: 40px;
  align-items: center;
  gap: 12px;
  align-items: flex-end;
}

.nav {
  color: var(--adistec-blue);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}

.nav-group {
  color: var(--adistec-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-title {  
  color: rgba(99, 98, 98, 0.952);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 10px 10px;
}

.nav a {
  color: var(--adistec-blue);
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 6px;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.35);
}

.content {
  flex: 1;
  padding:0;
  background: #faf5f5;
}

.main-content {
  max-width: 1440px;
  margin: auto;
  padding: 4px 0px;
}

header {
  height: 40px;
  background: var(--adistec-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.04);
  position: sticky;
  top: 0;
  z-index: 10;
  text-decoration: none;
  color: var(--adistec-blue);
  height: 40px;
  gap: 12px;
}

.idioma {
  position: relative;
  display: inline-block;
}

.idioma-butt {
  background: none;
  border: none;
  color: var(--adistec-blue);
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.idioma-menu {
  position: absolute;
  top: 20px;
  left: -5px;
  background-color: var(--adistec-gray);
  list-style: none;
  padding: 6px 0;
  border-radius: 4px;
  min-width: 120px;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;

}

.idioma-menu li {
  padding: 10px 14px;
  cursor: pointer;
  color: var(--adistec-blue);
}

.idioma-menu li:hover {
  background: var(--adistec-gray);
}

.idioma-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.card-link {
  text-decoration: none;   
  color: inherit;          
}

.card-link:hover .card {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
}

.card {
    background: var(--card-bg);
    border-radius: var(--radius);
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    height: 100%;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.logo-placeholder {
    height: 48px;
    width: 120px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: 48px;
    display: flex;
    align-items: center;
}

.logo-placeholder img {
  max-height: 100%;
  max-width: 140px;
  object-fit: contain;
}

.tag {
    display: inline-block;
    background: rgba(1, 67, 165, 0.1);
    color: var(--adistec-accent);
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    color: var(--adistec-blue);
}